.sign-in-form(layout="column" layout-align="center center")
	md-card
		md-card-content
			h3 Please Sign in
			md-input-container
				label Login
				input(ng-model="User.login")
			md-input-container
				label Password
				input(ng-model="User.password")
			div(layout="row")
				md-button.sign-in-button.md-raised.md-primary(flex="100" ng-click="SignIn.signIn()") Sign up
