.sign-in-form(layout="column" layout-align="center center")
	md-card
		md-card-content
			form(name="SignInForm" ng-submit="SignIn.signIn()" novalidate)
				.md-display-2 eManage
				.md-subhead Please Sign in
				md-input-container
					label Login
					input(ng-model="User.login" required)
				md-input-container
					label Password
					input(type="password" ng-model="User.password" required)
				div(layout="row")
					md-button.sign-in-button.md-raised.md-primary(flex="100" type="submit" ng-disabled="SignInForm.$invalid") Sign in
